<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Social network</title>
    <!--Bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <br>
        <div>
            <a href="/save/null"  class="btn btn-primary">Add post</a>
        </div>
            <h2 th:if="${list.isEmpty()}">No post logs</h2>
            <div th:if="${!list.isEmpty()}">
                <h2>social network</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Content List</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${list}">
                        <td th:text="${post.content}" >
                        <td class="btn btn-info" th:href="@{/show/{id}(id=${post.id})}">Show</td>
                        <td class="btn btn-info" th:href="@{/save/{id}(id=${post.id}}">Edit</td>
                        <td class="btn btn-info" th:href="@{/delete/{id}(id=${post.id}}">Remove</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

</body>
</html>